html {
    scroll-behavior: smooth;
}
.bgImgDesktop {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}

/* DASHBOARD AWAL */
.body {
    display: inline-block;
    position: relative;
}
.bgImgDesktop {
    width: 100vw; 
    height: 100vh;
    object-fit: cover;
}
.topTextContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: black;
    align-items: center;
}
.containerTextTop {
    /* padding: 0px 50px 0px 50px; */
    width: 50%;
    max-width: 50%;
    background-color: rgba(250, 127, 127, 0.8);
    border-radius: 10px 10px 0px 0px;   
    box-shadow: 0 0 0 1px rgba(230, 218, 218, 0.8);
}
.containerOpenButton {
    padding: 20px 0px 20px 0px;
    margin-top: 0p;   
    width: 50%;
    background-color: rgba(61, 42, 42, 0.8);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0 0 0 1px rgba(230, 218, 218, 0.8); 
}
.textInit {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin: 0;
}   
.textName {
    font-family: verdana;
    font-size: 25px;
    text-align: center;
    font-weight:bolder;
    padding: 20px 20px;
    margin: 0;
}   
.textButton {
    font-family: verdana;
    font-size: 15px;
    text-align: center;
    font-weight:bolder;
    /* padding: 15px 15px; */
    color: rgb(255, 149, 149);
}
#containerButton:hover  {
    background-color: rgba(250, 127, 127, 0.8)
}


/* SECTION 1 */
#section1 {
    width: 100vw; 
    height: 100vh;
    background-image:url('https://akcdn.detik.net.id/community/media/visual/2021/08/19/foto-prewedding-lesti-kejora-dan-rizky-billar-12.jpeg?w=770&q=90');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position:relative;
}
.section1 {
    width: 100vw; 
    height: 100vh;
    background-color: rgba(53, 53, 53, 0.6);
}
.section1Container {
    top: 65%;
    color:white;
    position:absolute; 
}
.textTopHeader {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "serif";
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
    font-size: 20px;
}
.textTopName1 {
    text-align: right;
    font-size: 70px;
    padding: 0;
    margin: 0;
    font-family: "Brush Script MT";
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
}
.textTopName2 {
    text-align: center;
    font-size: 50px;
    padding: 0;
    margin: 0;
    font-family: "Brush Script MT";
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
    
}
.textTopName3 {
    text-align: left;
    font-size: 70px;
    padding: 0;
    margin: 0;
    font-family: "Brush Script MT";
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
}
.textTopDate {
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "serif";
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
    font-size: 20px;
} 


/* SECTION 2 */
#section2 {
    width: 100vw; 
    /* height: 100vh; */
    background-image:url('https://cdn1-production-images-kly.akamaized.net/0hS8EiMFn9LzJN_pZB-dIGVoHFU=/1280x720/smart/filters:quality(75):strip_icc():format(webp)/kly-media-production/medias/2922077/original/010070100_1569420799-ILUSTRASI_PREWEDDING.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position:relative;
}
.section2 {
    width: 100vw; 
    /* height: 100vh; */
    background-color: rgba(53, 53, 53, 0.6);
}
.section2Container {
    color:white;
}
#storyContainer {
    align-items: center;
    padding-top: 2%;
}
.loveStoryHeader {
    text-align: center;
    font-size: 30px;
    padding-bottom: 2%;
    margin: 0;
    font-family: "Brush Script MT";
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
}
.loveStoryHope {
    text-align: center;
    font-size: 15px;
    margin: 0;
    font-family: "arial";
    /* font-weight: bold; */
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
}


/* SECTION 3 */
#section3 {
    width: 100vw; 
    min-height: 100vh;
    background-image:url('https://akcdn.detik.net.id/community/media/visual/2021/08/19/foto-prewedding-lesti-kejora-dan-rizky-billar-1.jpeg?w=770&q=90');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position:relative;
}
.section3 {
    width: 100vw; 
    min-height: 100vh;
    background-color: rgba(53, 53, 53, 0.6);
}
.section3Container {
    color:white;
}



/* SECTION 4 */
#section4 {
    width: 100vw; 
    min-height: 100vh;
    background-image:url('https://images.pexels.com/photos/1563356/pexels-photo-1563356.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position:relative;
}
.section4 {
    width: 100vw; 
    min-height: 100vh;
    background-color: rgba(53, 53, 53, 0.6);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.section4Container {
    color:white;
}
.thumbnailImgGallery {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.image-thumbnail {
    width: 100%;
}
.galleryHeader {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-family: "Brush Script MT";
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
    padding-bottom: 30px;
    padding-top: 30px;
}


/* SECTION 5 */ 
#section5 {
    width: 100vw; 
    min-height: 100vh;
    background-image:url('https://akcdn.detik.net.id/community/media/visual/2021/08/19/foto-prewedding-lesti-kejora-dan-rizky-billar-7.jpeg?w=770&q=90');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    position:relative;
}
.section5 {
    width: 100vw; 
    min-height: 100vh;
    background-color: rgba(53, 53, 53, 0.6);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}
.section5Container {
    color:white;
}
.invitationHeader {
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgb(82, 73, 73);
    text-align: center; 
    color: white; 
    font-size: 25px
}
.cardBox {
    text-align: left; 
    color: black; 
    margin-top: 10px;
    margin-bottom: 10px;
}
.cardRekeningHeader {
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-align: center; 
    color: black; 
    font-size: 15px
}
.headerCard {
    font-size: 15px; 
    font-weight: bold;
}




#myBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 5px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: rgba(53, 53, 53, 0.8);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px;
}
#myBtn:hover {
    background-color: #555;
}
#myBtnMusic {
    display: block;
    position: fixed;
    bottom: 50%;
    left: 5px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: rgba(53, 53, 53, 0.8);
    color: white;
    cursor: pointer;
    padding: 5px;
}
#myBtnMusic:hover {
    background-color: #555;
}




/* Modal CSS */

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
  
#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
    }

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
.modal-content {
    width: 100%;
}

}
